
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
  <script   src="js/jquery-1.9.1.js"></script> 
    <script data-main="main.js" src="js/require.js"></script>      
 
    <link href="css/angular-block-ui.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
    <link href="css/sortableGrid.css" rel="stylesheet" />

</head>
<body ng-controller="indexController" ng-init="initializeController()" style="height:100%;">
   <script language="JavaScript">

        function set95PercentWidth() {            
            var viewPort = document.getElementById("ViewPort");
            viewPort.style.width = "95%";
        }

        function set80PercentWidth() {
          
            var viewPort = document.getElementById("ViewPort");
            viewPort.style.width = "80%";
        }

    </script>
  
    <div class="header" ></div>
    <div class="studentsearch" ></div>
    <div class="sidebar"  >
        <div class="panel panel-default userprofile " >
            <div class="container center-block" style="margin-left: 90px;">
	<div class="row">
        <div class="profile-header-container">   
    		<div class="profile-header-img">
                <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=80" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">User name</span>
                </div>
            </div>
        </div> 
	</div>
</div>
        </div>
       
         <div class="container" style="padding:0; margin: 0;">
    <div class="row">
        <div class="col-sm-3 col-md-3" style="width:320px;">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="(key,value) in MenuItems">
                    <!--Loop headers-->
                    <div  data-toggle="collapse" class="panel-heading accordion-toggle" data-parent="#accordion" data-target="#{{key}}"   >
                        <h4 class="panel-title">
                            <a    href="javascript:void(0)"><span >
                            </span>{{key}}</a>
                        </h4>
                    </div>
                    <!-- loop sub links-->
                    <div id="{{key}}" class="panel-collapse collapse" >
                        <div class="panel-body">
                            <table class="table" >
                                <tr ng-repeat=" links in value">
                                    <td>
                                        <a  href="#{{links[0]}}">{{links[1]}}</a>
                                    </td>
                                </tr>
                                 
                            </table>
                        </div>
                    </div>
                </div>
               
                 
                 
            </div>
        </div>
       
    </div>
</div>

        <div>
            
            
        </div>  
        
    </div>
    <div class="fotter panel-footer"  ><span class="right">@copyright</span></div>
 

            <div id="ViewPort" class="viewport" style="" ng-view>             
               <!-- <div style="margin: 0px 40px 40px 40px; background-color:red; float:left; display: inline-block;" ng-view></div>-->
            </div>

 
     

 

    <script language="JavaScript">

        function init() {       
        }
        
    </script>
</body>

</html>


